<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th>Наслов</th>
		<th>Јазик</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
{{#events}}
	<tr>
		<td>{{title}}</td>
		<td>{{language}}</td>
		<td class="action">
			<a class="btn btn-primary btn-sm" href="#events/edit/{{id}}">
				<i class="icon-pencil"></i>
			</a>
			<a class="btn btn-danger btn-sm" href="#events/delete/{{id}}">
				<i class="icon-remove"></i>
			</a>
		</td>
	</tr>
{{/events}}
{{^events}}
	<tr>
		<td colspan="3">Нема активни најави.</td>
	</tr>
{{/events}}
	</tbody>

</table>